<div class="admin-panel-container">
    <div class="content-container">
        <h3><mat-icon class="icon">shield</mat-icon> {{"AdminPanel" | translate}}</h3>
        <div class="break-line"></div>
        <div class="buttons-container">
            <button (click)="createProject()">{{"CreateNew" | translate}}</button>
            <button (click)="openExistingProjects()">{{"OpenAllExisting" | translate}}</button>
            <button (click)="openSetRoles()">{{"SetRoles" | translate}}</button>
        </div>
    </div>
</div>