body {
    background-color: #fafafa;
}

.loading-text {
    color: var(--header-font-color);
}

.app-container {
    max-width: 100vw;
    min-height: 100vh;
    background-color: var(--background-color-one);
}