<div class="welcome-page-container">
    <div class="welcome-page">
        <app-back-button class="back-to-home-page-container" (click)="backToHomeMode()"
            *ngIf="mode != 'home'"></app-back-button>
        <h3 *ngIf="mode == 'home'">{{"WelcomeInGardenDesignApp" | translate}}</h3>
        <h3 *ngIf="mode == 'register'">{{"Register" | translate}}</h3>
        <h3 *ngIf="mode == 'author'">{{"AboutAuthor" | translate}}</h3>
        <h3 *ngIf="mode == 'app'">{{"ApplicationGuide" | translate}}</h3>
        <div class="break-line"></div>
        <app-welcome (changeMode)="setDisplayMode($event)" *ngIf="mode == 'home'"></app-welcome>
        <app-register *ngIf="mode == 'register'"></app-register>
        <app-author *ngIf="mode == 'author'"></app-author>
        <app-app-info *ngIf="mode == 'app'"></app-app-info>
        <div class="flags-section">
            <div
                matTooltip="English"
                matTooltipShowDelay="500"
                matTooltipPosition="below"
                class="single-flag" 
                [ngClass]="currentLang === 'en' ? 'active' : ''"
                (click)="changeLang('en')">
                    <img src="../../../assets/images/flags/flag gb.png" alt="English">
            </div>
            <div
                matTooltip="Polski"
                matTooltipShowDelay="500"
                matTooltipPosition="below"
                class="single-flag" 
                [ngClass]="currentLang === 'pl' ? 'active' : ''"
                (click)="changeLang('pl')">
                    <img src="../../../assets/images/flags/flag poland.png" alt="Polish">
            </div>
        </div>
    </div>
</div>