<nav [ngClass]="!isOpenProjectTab ? 'visualisation-mode' : ''">
    <div 
        class="app-title-container" 
        matTooltip="{{'GardenDesignApp' | translate}}"
        matTooltipShowDelay="500"
        matTooltipPosition="below">
            <a 
                class="app-title" 
                routerLink="/">
                <!-- logo link: https://www.istockphoto.com/pl/wektor/green-leaf-nature-ecology-element-vector-icon-gm2150897730-572038497 -->
                    <img 
                        src="../../../assets/images/gda-logo.png" 
                        alt="{{'GardenDesignApp' | translate}}" 
                        class="logo"
                        [ngClass]="!isOpenProjectTab || (themeService.isDarkMode$| async) ? 'white-logo' : ''">
            </a>
    </div>
    <app-nav-garden-options *ngIf="!isOpenProjectTab" (isOpenEntranceTool)="receiveEntranceTool($event)"></app-nav-garden-options>
    <!-- note: for testing purposes -->
    <!-- <app-nav-garden-options></app-nav-garden-options> -->
    <div class="dropdown-list" clickOutside (clickOutside)="clickOutside()" *ngIf="(loginService.currentUser$ | async) as user">
        <a 
            [className]="'dropdown-list-toggle ' + (showDropdownMenu ? 'highlighted' : '')"
            (click)="toggleDropdownMenu()"
            matTooltip="{{'Menu' | translate}}"
            matTooltipShowDelay="500"
            matTooltipPosition="below">
                <div>
                    <mat-icon class="account-icon">person</mat-icon>
                    {{user.username | titlecase}}
                </div>
                <mat-icon class="icon">keyboard_arrow_down</mat-icon>
        </a>
        <div [className]="'dropdown-list-menu ' + (showDropdownMenu ? 'active' : 'inactive')">
            <a 
                matTooltip="{{'Admin' | translate}}"
                matTooltipPosition="left"
                matTooltipShowDelay="500"
                class="dropdown-list-item" 
                routerLink="/admin" 
                *ngIf="user.role == 'admin'" 
                (click)="toggleDropdownMenu()">
                    <mat-icon class="icon">shield</mat-icon>
                    <div>{{"Admin" | translate}}</div>
            </a>
            <a 
                matTooltip="{{'MyProjects' | translate}}"
                matTooltipPosition="left"
                matTooltipShowDelay="500"
                class="dropdown-list-item" 
                (click)="goToMyProjects()">
                    <mat-icon class="icon">park</mat-icon>
                    <div>{{"MyProjects" | translate}}</div>
            </a>
            <a 
                matTooltip="{{'EditProfile' | translate}}"
                matTooltipPosition="left"
                matTooltipShowDelay="500"
                class="dropdown-list-item" 
                (click)="goToEditProfile()">
                    <mat-icon class="icon">edit</mat-icon>
                    <div>{{"EditProfile" | translate}}</div>
            </a>
            <a 
                matTooltip="{{'Settings' | translate}}"
                matTooltipPosition="left"
                matTooltipShowDelay="500"
                class="dropdown-list-item"
                (click)="goToSettings()">
                    <mat-icon class="icon">settings</mat-icon>
                    <div>{{"Settings" | translate}}</div>
            </a>
            <a 
                matTooltip="{{'Logout' | translate}}"
                matTooltipPosition="left"
                matTooltipShowDelay="500"
                class="dropdown-list-item" 
                (click)="logout()">
                    <mat-icon class="icon">keyboard_return</mat-icon>
                    <div>{{"Logout" | translate}}</div>
            </a>
        </div>
    </div>
</nav>
<div class="entrance-tool" *ngIf="isOpenEntranceTool">
    <div class="value-section" *ngIf="entrancePositionX">
        {{entrancePositionX}} m
    </div>
    <div class="tool-section">
        <button class="entrance-tool-button cancel-button" (click)="closeEntranceTool()">{{'Cancel' | translate}}</button>
        <input type="range" class="slider" [min]="entrancePositionMin" [max]="entrancePositionMax" [step]="0.1" [(ngModel)]="entrancePositionX" (ngModelChange)="onEntrancePositionChange($event)">
        <button class="entrance-tool-button" (click)="applyEntrancePosition()">{{'Add' | translate}}</button>
    </div>
</div>