nav {
    width: 100vw;
    height: var(--nav-height);
    position: fixed;
    top: 0;
    background-color: rgb(28, 61, 32);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px -3px black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 4rem;
    z-index: 1;

    .app-title-container {
        height: var(--nav-height);
        display: flex;
        align-items: center;

        .app-title {
            text-decoration: none;
            color: white;
            font-size: 1.2rem;
            transition: .2s;
            margin: 0;

            &:hover {
                scale: 110%;
                color: rgb(176, 207, 180);
            }
        }
    }

    .dropdown-list {
        margin-left: auto;

        a {
            text-decoration: none;
            color: white;
        }

        .dropdown-list-toggle {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            transition: .2s;
            line-height: 40px;

            .icon {
                position: relative;
                top: 8px;
            }

            .account-icon {
                position: relative;
                top: 5px;
            }

            &.highlighted {
                color: rgb(176, 207, 180);
            }

            &:hover {
                cursor: pointer;
                color: rgb(176, 207, 180);

                .users-profile-photo {
                    opacity: .8;
                }
            }
        }

        .dropdown-list-menu {
            background-color: white;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            position: fixed;
            top: 70px;
            right: 40px;
            transition: .3s;
            border: 2px rgb(28, 61, 32) solid;
            width: 150px;
            gap: 2px;

            a {
                color: black;
                padding: 10px 10px;
                font-size: .9rem;

                .icon {
                    transition: .2s;
                }

                &:hover {
                    cursor: pointer;
                    background-color: rgb(118, 160, 123);
                    color: white;

                    .icon {
                        transform: scale(120%);
                    }
                }
            }

            .dropdown-list-item {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                align-items: center;
            }

            &.inactive {
                visibility: hidden;
                opacity: 0;
                transform: translateY(-10px);
            }

            &.active {
                visibility: visible;
                opacity: 1;
                transform: translateY(0px);
            }
        }
    }

    &.visualisation-mode {
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(2px);
        box-shadow: none;

        .app-title-container {
            .app-title {
                &:hover {
                    color: rgb(214, 214, 214);
                }
            }
        }

        .dropdown-list {
            .dropdown-list-toggle {
                &.highlighted {
                    color: rgb(214, 214, 214);
                }

                &:hover {
                    color: rgb(214, 214, 214);
                }
            }

            .dropdown-list-menu {
                border: 2px rgb(54, 54, 54) solid;

                a {
                    &:hover {
                        background-color: rgba(54, 54, 54, 0.5);
                    }
                }
            }
        }
    }
}