nav {
    width: 100vw;
    height: var(--nav-height);
    position: fixed;
    top: 0;
    background-color: var(--navbar-color);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px -3px black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 4rem;
    z-index: 1;

    .app-title-container {
        height: var(--nav-height);
        display: flex;
        align-items: center;

        .app-title {
            text-decoration: none;
            color: white;
            font-size: 1.2rem;
            transition: .2s;
            margin: 0;

            .logo {
                width: 40px;
                height: 40px;
            }

            .white-logo {
                filter: grayscale(100%) brightness(200%);
            }
        }

        &:hover {
            cursor: pointer;

            .app-title {
                scale: 110%;
                color: var(--navbar-title-color);
            }
        }
    }

    .dropdown-list {
        margin-left: auto;

        a {
            text-decoration: none;
            color: white;
        }

        .dropdown-list-toggle {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 5px;
            transition: .2s;
            line-height: var(--nav-height);

            .account-icon {
                position: relative;
                top: 5px;
            }

            .admin-icon {
                scale: 85%;
            }

            &.highlighted {
                color: var(--navbar-title-color);
                ;
            }

            &:hover {
                cursor: pointer;
                color: var(--navbar-title-color);
                ;

                .users-profile-photo {
                    opacity: .8;
                }
            }
        }

        .dropdown-list-menu {
            background-color: var(--navbar-menu-bg);
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            position: fixed;
            top: 70px;
            right: 40px;
            transition: .3s;
            border: 2px var(--navbar-menu-border) solid;
            width: 150px;
            gap: 2px;

            a {
                color: var(--navbar-menu-font);
                padding: 10px 10px;
                font-size: .9rem;

                .icon {
                    transition: .2s;
                }

                &:hover {
                    cursor: pointer;
                    background-color: var(--navbar-menu-hover);
                    color: white;

                    .icon {
                        transform: scale(120%);
                    }
                }
            }

            .dropdown-list-item {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                align-items: center;
            }

            &.inactive {
                visibility: hidden;
                opacity: 0;
                transform: translateY(-10px);
            }

            &.active {
                visibility: visible;
                opacity: 1;
                transform: translateY(0px);
            }
        }
    }

    &.visualisation-mode {
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(2px);
        box-shadow: none;

        .app-title-container {
            &:hover {
                .app-title {
                    color: rgb(214, 214, 214);
                }
            }
        }

        .dropdown-list {
            .dropdown-list-toggle {
                &.highlighted {
                    color: white;
                }

                &:hover {
                    color: rgb(214, 214, 214);
                }
            }

            .dropdown-list-menu {
                background-color: rgba(0, 0, 0, 0.3);
                border-radius: 0;
                top: var(--nav-height);
                right: 30px;
                border: none;
                width: 170px;

                a {
                    color: white;
                    padding: 10px 20px;

                    &:hover {
                        background-color: rgba(54, 54, 54, 0.5);
                    }
                }
            }
        }
    }
}

.slider-tool {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 20px;
    z-index: 5;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .value-section {
        align-self: center;
        background-color: var(--bright-label-color);
        color: var(--label-color);
        padding: .3rem 2rem;
        font-size: 1.1rem;
        backdrop-filter: blur(2px);
        border-radius: 10px;
    }

    .tool-section {
        width: 80vw;
        padding: .3rem 0;
        align-self: center;
        display: flex;
        align-items: center;
        gap: .25rem;
        border-radius: 25px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        background-color: var(--bright-label-color);

        .tool-button {
            width: 8%;
            height: 1.6rem;
            font-size: .8rem;
            margin: 0 .5rem;
            border: 1px var(--header-font-color) solid;
            background-color: var(--header-font-color);
            color: var(--back-button-arrow);
            border-radius: 15px;
            transition: .2s;

            &:hover {
                scale: 105%;
            }
        }

        .cancel-button {
            background-color: var(--cancel-button-bg);
            border: 1px var(--cancel-button-bg) solid;
            color: var(--back-button-arrow);
        }

        .slider {
            width: 84%;
            cursor: pointer;
            appearance: none;
            height: 8px;
            background-color: #ddd;
            outline: none;
            opacity: 0.9;
            transition: .2s;

            &:hover {
                opacity: 1;
            }
        }

        .entrance-slider {
            &::-webkit-slider-thumb {
                appearance: none;
                width: 40px;
                height: 40px;
                background: url('../../../assets/textures/fences/wooden thumbnail.png') no-repeat center;
                background-size: contain;
                cursor: pointer;
                border: none;
            }

            &::-moz-range-thumb {
                width: 40px;
                height: 40px;
                background: url('../../../assets/textures/fences/wooden thumbnail.png') no-repeat center;
                background-size: contain;
                cursor: pointer;
                border: none;
            }
        }

        .rotation-slider {
            &::-webkit-slider-thumb {
                appearance: none;
                width: 40px;
                height: 40px;
                background: url('../../../assets/images/rotation-slider-icon.png') no-repeat center;
                background-size: contain;
                cursor: pointer;
                border: none;
            }

            &::-moz-range-thumb {
                width: 40px;
                height: 40px;
                background: url('../../../assets/images/rotation-slider-icon.png') no-repeat center;
                background-size: contain;
                cursor: pointer;
                border: none;
            }
        }
    }
}