nav {
    width: 100vw;
    height: var(--nav-height);
    position: fixed;
    top: 0;
    background-color: var(--navbar-color);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px -3px black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 4rem;
    z-index: 1;

    .app-title-container {
        height: var(--nav-height);
        display: flex;
        align-items: center;

        .app-title {
            text-decoration: none;
            color: white;
            font-size: 1.2rem;
            transition: .2s;
            margin: 0;
        }

        &:hover {
            cursor: pointer;

            .app-title {
                scale: 110%;
                color: var(--navbar-title-color);
            }
        }
    }

    .dropdown-list {
        margin-left: auto;

        a {
            text-decoration: none;
            color: white;
        }

        .dropdown-list-toggle {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 5px;
            transition: .2s;
            line-height: var(--nav-height);

            .account-icon {
                position: relative;
                top: 5px;
            }

            &.highlighted {
                color: var(--navbar-title-color);;
            }

            &:hover {
                cursor: pointer;
                color: var(--navbar-title-color);;

                .users-profile-photo {
                    opacity: .8;
                }
            }
        }

        .dropdown-list-menu {
            background-color: var(--navbar-menu-bg);
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            position: fixed;
            top: 70px;
            right: 40px;
            transition: .3s;
            border: 2px var(--navbar-menu-border) solid;
            width: 150px;
            gap: 2px;

            a {
                color: var(--navbar-menu-font);
                padding: 10px 10px;
                font-size: .9rem;

                .icon {
                    transition: .2s;
                }

                &:hover {
                    cursor: pointer;
                    background-color: var(--navbar-menu-hover);
                    color: white;

                    .icon {
                        transform: scale(120%);
                    }
                }
            }

            .dropdown-list-item {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                align-items: center;
            }

            &.inactive {
                visibility: hidden;
                opacity: 0;
                transform: translateY(-10px);
            }

            &.active {
                visibility: visible;
                opacity: 1;
                transform: translateY(0px);
            }
        }
    }

    &.visualisation-mode {
        background-color: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(2px);
        box-shadow: none;

        .app-title-container {
            &:hover {
                .app-title {
                    color: rgb(214, 214, 214);
                }
            }
        }

        .dropdown-list {
            .dropdown-list-toggle {
                &.highlighted {
                    color: white;
                }

                &:hover {
                    color: rgb(214, 214, 214);
                }
            }

            .dropdown-list-menu {
                background-color: rgba(0, 0, 0, 0.3);
                border-radius: 0;
                top: var(--nav-height);
                right: 30px;
                border: none;
                width: 170px;

                a {
                    color: white;
                    padding: 10px 20px;

                    &:hover {
                        background-color: rgba(54, 54, 54, 0.5);
                    }
                }
            }
        }
    }
}