<nav>
    <a class="app-title" routerLink="/">Park Design App</a>
    <div class="dropdown-list" clickOutside (clickOutside)="clickOutside()" *ngIf="(loginService.currentUser$ | async) as user">
        <a [className]="'dropdown-list-toggle ' + (showDropdownMenu ? 'highlighted' : '')"
            (click)="toggleDropdownMenu()">
            <div>
                <mat-icon class="account-icon">person</mat-icon>
                {{user.username | titlecase}}
            </div>
            <mat-icon class="icon">keyboard_arrow_down</mat-icon>
        </a>
        <div [className]="'dropdown-list-menu ' + (showDropdownMenu ? 'active' : 'inactive')">
            <a class="dropdown-list-item" title="admin" routerLink="/admin" *ngIf="user.role == 'admin'" (click)="toggleDropdownMenu()">
                <mat-icon class="icon">shield</mat-icon>
                <div>Admin</div>
            </a>
            <a class="dropdown-list-item" title="my profile" routerLink="/projects" (click)="toggleDropdownMenu()">
                <mat-icon class="icon">park</mat-icon>
                <div>My Projects</div>
            </a>
            <a class="dropdown-list-item" title="edit profile" routerLink="/editProfile" (click)="toggleDropdownMenu()">
                <mat-icon class="icon">edit</mat-icon>
                <div>Edit Profile</div>
            </a>
            <a class="dropdown-list-item" title="settings" routerLink="/settings" (click)="toggleDropdownMenu()">
                <mat-icon class="icon">settings</mat-icon>
                <div>Settings</div>
            </a>
            <a class="dropdown-list-item" title="logout" (click)="logout()">
                <mat-icon class="icon">keyboard_return</mat-icon>
                <div>Logout</div>
            </a>
        </div>
    </div>
</nav>