<div class="edit-project-container">
    <app-back-button class="back" (click)="cancel()"></app-back-button>
    <form 
        [formGroup]="editProjectForm" 
        (ngSubmit)="editProjectForm.valid && edit()" 
        autocomplete="off"
        *ngIf="groundChoice && environmentChoice && fenceChoice">
            <h3>{{"Edit" | translate}} {{data.project.name}}</h3>
            <div class="break-line"></div>
            <div class="save-changes-info-section" *ngIf="editProjectForm.dirty">
                <p>
                    <strong>{{"Information" | translate}}: </strong>
                    {{"YouHaveMadeChanges" | translate}}
                </p>
            </div>
            <div class="input-container">
                <app-text-input 
                    [formControl]="$any(editProjectForm.controls['name'])" 
                    [label]="'Name'" 
                    [type]="'text'">
                </app-text-input>
                <div class="two-columns">
                    <app-text-input 
                        [formControl]="$any(editProjectForm.controls['width'])" 
                        [label]="'Width'"
                        [type]="'number'"
                        [class]="'small'">
                    </app-text-input>
                    <app-text-input 
                        [formControl]="$any(editProjectForm.controls['depth'])" 
                        [label]="'Depth'" 
                        [type]="'number'"
                        [class]="'small'">
                    </app-text-input>
                </div>
                <div class="selection-options">
                    <p class="field-header">{{"Ground" | translate}}:</p>
                    <div class="options-section">
                        <div 
                            class="single-option"
                            matTooltip="{{ground.name | translate}}"
                            matTooltipShowDelay="500"
                            matTooltipPosition="below"
                            *ngFor="let ground of groundList"
                            (click)="setGround(ground)"
                            [ngClass]="groundChoice.name === ground.name ? 'selected' : ''">
                                <img [src]="'../../../assets/textures/grounds/' + ground.img + ' thumbnail.png'" alt={{ground.name}}>
                        </div>
                    </div>
                </div>
                <div class="selection-options">
                    <p class="field-header">{{"Fence" | translate}}:</p>
                    <div class="options-section">
                        <div 
                            class="single-option"
                            matTooltip="{{fence.name | translate}}"
                            matTooltipShowDelay="500"
                            matTooltipPosition="below"
                            *ngFor="let fence of fenceList"
                            (click)="setFence(fence)"
                            [ngClass]="fenceChoice.name === fence.name ? 'selected' : ''">
                                <img [src]="'../../../assets/textures/fences/' + fence.img + '.png'" alt={{fence.name}}>
                        </div>
                    </div>
                </div>
                <div class="selection-options">
                    <p class="field-header">{{"Environment" | translate}}:</p>
                    <div class="options-section">
                        <div 
                            class="single-option"
                            matTooltip="{{environment.name | translate}}"
                            matTooltipShowDelay="500"
                            matTooltipPosition="below"
                            *ngFor="let environment of environmentList"
                            (click)="setEnvironment(environment)"
                            [ngClass]="environmentChoice.name === environment.name ? 'selected' : ''">
                                <img [src]="'../../../assets/images/environments/' + environment.name.toLowerCase() + '.png'" alt={{environment.name}}>
                        </div>
                    </div>
                </div>
            </div>
            <div class="errors-container" *ngIf="validationErrors">
                <ul>
                    <li *ngFor="let error of validationErrors">
                        {{error}}
                    </li>
                </ul>
            </div>
            <div class="button-container">
                <button 
                    class="submit-button" 
                    type="submit"
                    [disabled]="!editProjectForm.valid">
                        {{"Edit" | translate}}
                </button>
            </div>
    </form>
</div>