.edit-project-container {
    max-width: 100%;
    background-color: var(--dialog-color);
    padding: 20px 0;

    .back {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    form {
        display: flex;
        flex-direction: column;

        h3 {
            color: var(--header-font-color);
            margin: 0;
            align-self: center;
        }

        .break-line {
            background-color: var(--header-font-color);
            width: 300px;
            height: 2px;
            margin: 20px 0;
            align-self: center;
        }

        .input-container {
            display: flex;
            flex-direction: column;
            gap: .7rem;

            * {
                align-self: center;
            }

            .two-columns {
                width: 300px;
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
            }

            .selection-options {
                width: 300px;

                .field-header {
                    margin: 0;
                    padding: 0;
                    font-size: .8rem;
                    color: var(--input-header);
                    margin-bottom: .1rem;
                    width: 300px;
                }

                .options-section {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1rem;
                    color: white;
                    width: 300px;

                    .single-option {
                        display: flex;

                        img {
                            align-self: center;
                            width: 30px;
                            border: 2px rgb(58, 58, 58) solid;
                        }

                        &:hover {
                            cursor: pointer;

                            img {
                                border: 2px var(--flag-border) solid;
                            }
                        }

                        &.selected {
                            img {
                                border: 2px var(--flag-border) solid;
                            }
                        }
                    }
                }
            }
        }

        .button-container {
            margin-top: 40px;
            width: 100%;
            align-self: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .submit-button {
                width: 300px;
                border: 1px var(--navbar-color) solid;
                background-color: var(--navbar-color);
                color: white;
                border-radius: 5px;
                padding: 3px 12px;
                transition: .2s;

                &:disabled {
                    opacity: .8;
                }

                &:hover {
                    cursor: pointer;
                    color: var(--bright-label-color);
                    background-color: var(--header-font-color);
                }
            }
        }
    }
}