.open-existings-projects-container {
    max-width: 100%;
    background-color: var(--dialog-color);
    padding: 1rem 0;

    .back {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .content-container {
        display: flex;
        flex-direction: column;

        h3 {
            color: var(--header-font-color);
            margin: 0;
            align-self: center;
        }

        .break-line {
            background-color: var(--header-font-color);
            width: 300px;
            height: 2px;
            margin: 20px 0;
            align-self: center;
        }

        .projects-list-container {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: .5rem;

            .no-projects-container {
                width: 100%;
                display: flex;
                justify-content: center;
                color: var(--header-font-color);
            }

            table {
                margin: 5px 1rem;
                font-size: 1rem;
                background-color: white;
                box-shadow: 0px 0px 10px -4px var(--dark-box-shadow);

                tr {
                    margin-bottom: .5rem;
                    border-bottom: 1px var(--projects-table-tr-color) solid;

                    th {
                        background-color: var(--hover-button);
                        font-weight: bold;
                        padding: 1rem 0;
                        text-align: center;
                        color: white;
                    }

                    td {
                        text-align: center;
                        padding: 1rem 0;
                        color: rgb(88, 88, 88);

                        .actions-section {
                            width: 100%;
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: center;
                            gap: 5px;

                            button {
                                border: none;
                                background-color: transparent;

                                .action-icon {
                                    position: relative;
                                    top: 3px;
                                    scale: 110%;
                                    color: var(--hover-button);
                                    transition: .2s;
                                }

                                &:hover {
                                    .action-icon {
                                        scale: 130%;
                                    }
                                }
                            }
                        }
                    }

                    &:last-child {
                        margin-bottom: 0;
                        border-bottom: none;
                    }

                    &:hover {
                        background-color: var(--projects-table-bg-hover);

                        td {
                            color: white;

                            .actions-section {
                                button {
                                    .action-icon {
                                        color: white;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .pagination-container {
                width: 100%;
                display: flex;
                justify-content: center;
                margin-top: 2rem;

                .pagination-styles::ng-deep .page-item.active .page-link {
                    color: var(--bright-label-color);
                    background-color: var(--header-font-color) !important;

                    &:hover {
                        color: var(--header-font-color);
                    }
                }

                .pagination-styles::ng-deep .page-item .page-link {
                    color: var(--bright-label-color);
                    background-color: var(--pagination-bg-color) !important;
                    border: none;
                    
                    &:hover {
                        color: var(--bright-label-color);
                        background-color: var(--header-font-color) !important;
                    }
                }
            }
        }
    }
}