<div class="single-input">
    <p>{{label | translate}}:</p>
    <input 
        type="text"
        [class.is-invalid]="control.touched && control.invalid"
        [formControl]="control"
        placeholder="{{label | translate}}"
        bsDatepicker
        [bsConfig]="bsConfig"
        [maxDate]="maxDate">
    <mat-icon 
        class="error-icon"
        [class.is-error-icon]="ngControl.touched && ngControl.invalid">
        error
    </mat-icon>
    <div class="invalid-feedback" *ngIf="control.errors?.['required']">
        {{label | translate}} {{"IsRequired" | translate}}
    </div>
</div>