<div class="home-container">
    <div class="welcome-page">
        <div 
            matTooltip="Back"
            matTooltipPosition="below"
            matTooltipShowDelay="500"
            class="back-to-home-page-container" 
            *ngIf="mode != 'home'" 
            (click)="backToHomeMode()"
            >
                <mat-icon class="back-icon">arrow_back</mat-icon>
        </div>
        <h3 *ngIf="mode == 'home'">Welcome in Park Design App</h3>
        <h3 *ngIf="mode == 'register'">Register</h3>
        <h3 *ngIf="mode == 'author'">About Author</h3>
        <h3 *ngIf="mode == 'app'">Application Guide</h3>
        <div class="break-line"></div>
        <app-welcome (changeMode)="setDisplayMode($event)" *ngIf="mode == 'home'"></app-welcome>
        <app-register *ngIf="mode == 'register'"></app-register>
        <app-author *ngIf="mode == 'author'"></app-author>
        <app-app-info *ngIf="mode == 'app'"></app-app-info>
    </div>
</div>