<div class="open-existings-projects-container">
    <app-back-button class="back" (click)="cancel()"></app-back-button>
    <div class="content-container">
        <h3>Projects</h3>
        <div class="break-line"></div>
        <div class="projects-list-container">
            <div class="no-projects-container" *ngIf="projects.length === 0">
                <h5>No projects yet</h5>
            </div>
            <table *ngIf="projects.length !== 0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date Created</th>
                        <th>Author</th>
                        <th>Width</th>
                        <th>Depth</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let project of projects">
                        <td>{{project.name}}</td>
                        <td 
                            matTooltip="{{project.dateCreated | timeago}}" 
                            matTooltipShowDelay="500"
                            matTooltipPosition="below">
                                {{project.dateCreated | date: "dd MMMM yyyy"}}
                        </td>
                        <td>{{project.ownerUsername}}</td>
                        <td>{{project.width}}</td>
                        <td>{{project.depth}}</td>
                        <td>
                            <div class="actions-section">
                                <button 
                                    matTooltip="Delete" 
                                    matTooltipShowDelay="500"
                                    matTooltipPosition="below">
                                        <mat-icon 
                                            class="action-icon">
                                                delete
                                        </mat-icon>
                                </button>
                                <button
                                    matTooltip="Edit" 
                                    matTooltipShowDelay="500"
                                    matTooltipPosition="below">
                                        <mat-icon 
                                            class="action-icon">
                                                edit
                                        </mat-icon>
                                </button>
                                <button
                                    matTooltip="Open" 
                                    matTooltipShowDelay="500"
                                    matTooltipPosition="below"
                                    (click)="openProject(project)">
                                        <mat-icon 
                                            class="action-icon">
                                                send
                                        </mat-icon>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="pagination" class="pagination-container">
                <pagination 
                    [boundaryLinks]="true" 
                    [totalItems]="pagination.totalItems" 
                    [itemsPerPage]="pagination.itemsPerPage"
                    [maxSize]="10"
                    [(ngModel)]="pagination.currentPage"
                    (pageChanged)="pageChanged($event)"
                    previousText="&lsaquo;" 
                    nextText="&rsaquo;" 
                    firstText="&laquo;"
                    lastText="&raquo;"
                    class="pagination-styles">
                </pagination>
            </div>
        </div>
    </div>
</div>