<div class="welcome-page-main-container">
    <div class="home-page-buttons">
        <div class="home-page-buttons-container">
            <button 
                matTooltip="Sign Up"
                matTooltipPosition="right"
                matTooltipShowDelay="500"
                (click)="changeHomeMode('register')">
                    Register
            </button>
            <button 
                matTooltip="About Author"
                matTooltipPosition="right"
                matTooltipShowDelay="500"
                (click)="changeHomeMode('author')">
                    About Author
            </button>
            <button
                matTooltip="Application Guide"
                matTooltipPosition="right"
                matTooltipShowDelay="500"
                (click)="changeHomeMode('app')">
                    About App
            </button>
        </div>
    </div>
    <div class="form-container">
        <form class='login-form' autocomplete="off">
            <div class="input-container">
                <input 
                    type="text"
                    placeholder="Username"
                    name="username"
                    [(ngModel)]="username" />
                <input 
                    type="password"
                    placeholder="Password"
                    name="password"
                    [(ngModel)]="password" />
            </div>
            <div class="login-buttons-container">
                <button 
                    class="login-button" 
                    type="submit"
                    [disabled]="!username || !password"
                    (click)="login()">
                        Login
                </button>
            </div>
        </form>
    </div>
    <div class="slidebar">
        TODO: Slidebar
    </div>
</div>