<div class="welcome-page-main-container">
    <div class="home-page-buttons">
        <div class="home-page-buttons-container">
            <button 
                matTooltip="{{'SignUp' | translate}}"
                matTooltipPosition="right"
                matTooltipShowDelay="500"
                (click)="changeHomeMode('register')">
                    {{"Register" | translate}}
            </button>
            <button 
                matTooltip="{{'AboutAuthor' | translate}}"
                matTooltipPosition="right"
                matTooltipShowDelay="500"
                (click)="changeHomeMode('author')">
                    {{"AboutAuthor" | translate}}
            </button>
            <button
                matTooltip="{{'ApplicationGuide' | translate}}"
                matTooltipPosition="right"
                matTooltipShowDelay="500"
                (click)="changeHomeMode('app')">
                    {{"AboutApp" | translate}}
            </button>
        </div>
    </div>
    <div class="form-container">
        <form class='login-form' autocomplete="off">
            <div class="input-container">
                <input 
                    type="text"
                    placeholder="{{'Username' | translate}}"
                    name="username"
                    [(ngModel)]="username" />
                <input 
                    type="password"
                    placeholder="{{'Password' | translate}}"
                    name="password"
                    [(ngModel)]="password" />
            </div>
            <div class="login-buttons-container">
                <button 
                    class="login-button" 
                    type="submit"
                    [disabled]="!username || !password"
                    (click)="login()">
                        {{"Login" | translate}}
                </button>
            </div>
        </form>
    </div>
    <div class="slidebar">
        TODO: Slidebar
    </div>
</div>