.create-new-project-container {
    max-width: 100%;
    background-color: var(--dialog-color);

    .back {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    form {
        display: flex;
        flex-direction: column;

        h3 {
            color: var(--header-font-color);
            margin: 0;
            align-self: center;
            margin-top: 20px;
        }

        .break-line {
            background-color: var(--header-font-color);
            width: 300px;
            height: 2px;
            margin: 20px 0;
            align-self: center;
        }

        .inputs-container {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: .5rem;

            .single-input {
                align-self: center;
                width: 100%;
                display: flex;
                justify-content: center;

                label {
                    width: 60px;
                    color: var(--label-color)
                }

                .wider {
                    width: 90px;
                }

                input {
                    width: 200px;
                    padding: 2px 6px;

                    &:focus {
                        outline: none;
                    }
                }
            }
        }

        .buttons-container {
            width: 100%;
            align-self: center;
            display: flex;
            flex-wrap: wrap;
            padding: 1rem 0;
            margin-top: .5rem;
            justify-content: center;
            gap: 2rem;

            .submit-button {
                border: 2px var(--header-font-color) solid;
                color: var(--header-font-color);
                background-color: transparent;
                border-radius: 5px;
                padding: 3px 12px;
                transition: .2s;

                &:hover {
                    color: var(--hover-button);
                    background-color: var(--header-font-color);
                }
            }
        }
    }
}