<div class="create-new-project-container">
    <app-back-button class="back" (click)="cancel()"></app-back-button>
    <form (ngSubmit)="create()">
        <h3>{{"CreateNewProject" | translate}}</h3>
        <div class="break-line"></div>
        <div class="inputs-container">
            <div class="single-input">
                <label [ngClass]="isPl ? 'wider' : ''" for="name">{{"Name" | translate}}:</label>
                <input type="text" name="name" placeholder="{{'Name' | translate}}" [(ngModel)]="name">
            </div>
            <div class="single-input">
                <label [ngClass]="isPl ? 'wider' : ''" for="width">{{"Width" | translate}}:</label>
                <input type="number" name="width" placeholder="{{'Width' | translate}}" [(ngModel)]="width">
            </div>
            <div class="single-input">
                <label [ngClass]="isPl ? 'wider' : ''" for="depth">{{"Depth" | translate}}:</label>
                <input type="number" name="depth" placeholder="{{'Depth' | translate}}" [(ngModel)]="depth">
            </div>
        </div>
        <div class="buttons-container">
            <input type="submit" value="{{'Create' | translate}}" class="submit-button">
        </div>
    </form>
</div>