.app-info-container {
    width: 900px;
    box-shadow: 0px 0px 10px -5px var(--box-shadow);
    padding: 1rem 2rem;
    background-color: var(--projects-bg-color);
    border-radius: 10px;
    color: var(--label-color);
}