<div class="register-container">
    <form class='register-form' [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()" autocomplete="off">
        <div class="input-container">
            <app-text-input 
                [formControl]="$any(registerForm.controls['username'])" 
                [label]="'Username'">
            </app-text-input>
            <app-date-picker
                [formControl]="$any(registerForm.controls['dateOfBirth'])" 
                [label]="'DateOfBirth'" [maxDate]="maxDate">
            </app-date-picker>
            <app-text-input 
                [formControl]="$any(registerForm.controls['password'])" 
                [label]="'Password'" 
                [type]="'password'">
            </app-text-input>
            <app-text-input 
                [formControl]="$any(registerForm.controls['confirmPassword'])" 
                [label]="'ConfirmPassword'" 
                [type]="'password'">
            </app-text-input>
        </div>
        <div class="register-errors-container" *ngIf="validationErrors">
            <ul>
                <li *ngFor="let error of validationErrors">
                    {{error}}
                </li>
            </ul>
        </div>
        <div class="button-container">
            <button 
                class="register-button" 
                type="submit"
                [disabled]="!registerForm.valid">
                    {{"CreateAccount" | translate}}
            </button>
        </div>
    </form>
</div>