.register-container {
    width: 400px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px -5px var(--box-shadow);
    padding: 2.5rem 2rem;
    padding-bottom: 3rem;
    background-color: var(--projects-bg-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;

    .register-form {
        .input-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: .7rem;
        }

        .button-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 1rem;

            .register-button {
                width: 300px;
                border: 1px var(--navbar-color) solid;
                background-color: var(--navbar-color);
                margin: 0;
                margin-top: .5rem;
                color: white;
                padding: 4px 0;

                &:disabled {
                    opacity: .8;
                }
            }
        }
    }
}