.nav-garden-options-container {
    width: fit-content;
    padding: 0 2rem;
    height: calc(var(--nav-height) - 10px);
    background-color: rgba(255, 255, 255, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 6px -4px black;
    display: flex;
    justify-content: center;
    gap: 2rem;

    .single-option-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 5px 0;
        color: black;
        position: relative;

        .single-option-content {
            display: flex;
            flex-direction: column;
            width: fit-content;
            gap: .2rem;

            * {
                align-self: center;
            }

            .option-icon-container {
                display: flex;
                justify-content: center;

                .option-icon {
                    transition: .2s;
                    scale: 100%;
                }
            }

            p {
                margin: 0;
                text-align: center;
                font-size: .8rem;
            }

            &:hover {
                cursor: pointer;

                .option-icon-container {
                    .option-icon {
                        scale: 120%;
                    }
                }
            }
        }

        .ground-option-container {
            position: absolute;
            top: calc(100% + 10px);
            left: -40px;
            background-color: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(2px);
            display: flex;
            gap: .5rem;
            padding: 0 10px;
            color: white;

            .single-ground-option {
                display: flex;
                flex-direction: column;
                padding: 5px 10px;
                margin: 5px 0;
                gap: .2rem;

                * {
                    align-self: center;
                    transition: .2s;
                }

                img {
                    width: 30px;
                    border: 2px rgb(58, 58, 58) solid;
                }

                p {
                    margin: 0;
                    text-align: center;
                    font-size: .8rem;
                }

                &:hover {
                    cursor: pointer;
                    
                    img {
                        scale: 110%;
                    }
                    
                    p {
                        color: rgb(214, 214, 214);
                    }
                }

                &.selected {
                    img {
                        border: 2px white solid;
                    }
                }
            }
        }
    }
}