<div class="nav-garden-options-container">
    <div 
        class="single-option-container"
        matTooltip="Ground"
        matTooltipShowDelay="500"
        matTooltipPosition="below">
            <div class="single-option-content">
                <div class="option-icon-container">
                    <mat-icon class="option-icon">grass</mat-icon>
                </div>
                <p>Ground</p>
            </div>
    </div>
    <div 
        class="single-option-container"
        matTooltip="Reset Camera"
        matTooltipShowDelay="500"
        matTooltipPosition="below">
            <div class="single-option-content">
                <div class="option-icon-container">
                    <mat-icon class="option-icon">photo_camera</mat-icon>
                </div>
                <p>Reset Camera</p>
            </div>
    </div>
    <div 
        class="single-option-container"
        matTooltip="Fence"
        matTooltipShowDelay="500"
        matTooltipPosition="below">
            <div class="single-option-content">
                <div class="option-icon-container">
                    <mat-icon class="option-icon">fence</mat-icon>
                </div>
                <p>Fence</p>
            </div>
    </div>
    <div 
        class="single-option-container"
        matTooltip="Add Element"
        matTooltipShowDelay="500"
        matTooltipPosition="below">
            <div class="single-option-content">
                <div class="option-icon-container">
                    <mat-icon class="option-icon">eco</mat-icon>
                </div>
                <p>Add Element</p>
            </div>
    </div>
    <div 
        class="single-option-container"
        matTooltip="Remove Element"
        matTooltipShowDelay="500"
        matTooltipPosition="below">
            <div class="single-option-content">
                <div class="option-icon-container">
                    <mat-icon class="option-icon">delete</mat-icon>
                </div>
                <p>Remove Element</p>
            </div>
    </div>
    <div 
        class="single-option-container"
        matTooltip="2D / 3D"
        matTooltipShowDelay="500"
        matTooltipPosition="below">
            <div class="single-option-content">
                <div class="option-icon-container">
                    <mat-icon class="option-icon">toggle_on</mat-icon>
                </div>
                <!-- TODO: toogle bar -->
                <p>2D / 3D</p> 
            </div>
    </div>
    <div 
        class="single-option-container"
        matTooltip="PDF"
        matTooltipShowDelay="500"
        matTooltipPosition="below">
            <div class="single-option-content">
                <div class="option-icon-container">
                    <mat-icon class="option-icon">picture_as_pdf</mat-icon>
                </div>
                <p>PDF</p>
            </div>
    </div>
</div>