<div class="nav-garden-options-container">
    <div class="single-option-container">
            <div 
                class="single-option-content"
                matTooltip="{{'Ground' | translate}}"
                matTooltipShowDelay="500"
                matTooltipPosition="below"
                (click)="toggleGroundOptions($event)">
                    <div class="option-icon-container">
                        <mat-icon class="option-icon">grass</mat-icon>
                    </div>
                    <p>{{"Ground" | translate}}</p>
            </div>
            <div class="ground-option-container" *ngIf="showGroundOptions">
                <div 
                    class="single-ground-option"
                    matTooltip={{ground.name}}
                    matTooltipShowDelay="500"
                    matTooltipPosition="below"
                    *ngFor="let ground of groundList"
                    (click)="setGround(ground)"
                    [ngClass]="(gardenService.currentGround$ | async) === ground.name ? 'selected' : ''">
                        <img [src]="'../../../assets/textures/grounds/' + ground.img + '.jpg'" alt={{ground.name}}>
                </div>
            </div>
    </div>
    <div class="single-option-container" (click)="resetCameraPosition()">
        <div 
            class="single-option-content"
            matTooltip="{{'ResetCamera' | translate}}"
            matTooltipShowDelay="500"
            matTooltipPosition="below">
                <div class="option-icon-container">
                    <mat-icon class="option-icon">photo_camera</mat-icon>
                </div>
                <p>{{"ResetCamera" | translate}}</p>
        </div>
    </div>
    <div class="single-option-container">
        <div 
            class="single-option-content"
            matTooltip="{{'Fence' | translate}}"
            matTooltipShowDelay="500"
            matTooltipPosition="below">
                <div class="option-icon-container">
                    <mat-icon class="option-icon">fence</mat-icon>
                </div>
                <p>{{"Fence" | translate}}</p>
        </div>
    </div>
    <div class="single-option-container">
        <div 
            class="single-option-content"
            matTooltip="{{'AddElement' | translate}}"
            matTooltipShowDelay="500"
            matTooltipPosition="below">
                <div class="option-icon-container">
                    <mat-icon class="option-icon">eco</mat-icon>
                </div>
                <p>{{"AddElement" | translate}}</p>
        </div>
    </div>
    <div class="single-option-container">
        <div 
            class="single-option-content"
            matTooltip="{{'RemoveElement' | translate}}"
            matTooltipShowDelay="500"
            matTooltipPosition="below">
                <div class="option-icon-container">
                    <mat-icon class="option-icon">delete</mat-icon>
                </div>
                <p>{{"RemoveElement" | translate}}</p>
        </div>
    </div>
    <div class="single-option-container">
        <div 
            class="single-option-content"
            matTooltip="{{'Environment' | translate}}"
            matTooltipShowDelay="500"
            matTooltipPosition="below">
                <div class="option-icon-container">
                    <mat-icon class="option-icon">location_city</mat-icon>
                </div>
                <p>{{"Environment" | translate}}</p>
        </div>
    </div>
    <div class="single-option-container">
        <div 
            class="single-option-content"
            matTooltip="{{'Entrance' | translate}}"
            matTooltipShowDelay="500"
            matTooltipPosition="below">
                <div class="option-icon-container">
                    <mat-icon class="option-icon">door_sliding</mat-icon>
                </div>
                <p>{{"Entrance" | translate}}</p>
        </div>
    </div>
    <div class="single-option-container">
        <div 
            class="single-option-content"
            matTooltip="2D / 3D"
            matTooltipShowDelay="500"
            matTooltipPosition="below">
                <div class="option-icon-container">
                    <mat-icon class="option-icon">toggle_on</mat-icon>
                </div>
                <!-- TODO: toogle bar -->
                <p>2D / 3D</p> 
        </div>
    </div>
    <div class="single-option-container">
        <div 
            class="single-option-content"
            matTooltip="PDF"
            matTooltipShowDelay="500"
            matTooltipPosition="below">
                <div class="option-icon-container">
                    <mat-icon class="option-icon">picture_as_pdf</mat-icon>
                </div>
                <p>PDF</p>
        </div>
    </div>
</div>