.toggle-switch {
    width: 40px;
    height: 25px;
    background-color: rgba(118, 160, 123, 0.5);
    border-radius: 25px;
    position: relative;
    transition: .2s;

    .toggle-ball {
        width: 23px;
        height: 23px;
        background-color: rgb(118, 160, 123);
        border-radius: 50%;
        position: absolute;
        top: 1px;
        left: 1px;
        transition: .2s;

        .theme-icon {
            scale: 70%;
            color: rgb(255, 255, 255);
            position: relative;
            right: 1px;
        }

        &.active-toggle-ball {
            background-color: var(--dialog-color);
            transform: translateX(15px);

            .theme-icon {
                right: 0;
            }
        }
    }

    &.active-toggle-switch {
        background-color: rgb(119, 119, 119);
    }

    &:hover {
        cursor: pointer;
    }
}